Package: jzplusplus.PMreally
Name: PMreally
Version: 1.0-1
Description: Prompts you to confirm if you ever set an alarm for any PM time, to prevent accidentally setting your alarm to PM when you meant AM.
Section: System
Depends: firmware (>= 8.0), mobilesubstrate
Conflicts: 
Replaces: 
Priority: optional
Architecture: iphoneos-arm
Author: Jay Zuerndorfer
dev: 
Homepage: 
Depiction: 
Maintainer: 
Icon:

